<nav>
  <a href="/" class="nav-home">🤠 Wild West Forum</a>

  {{#if user.isLoggedIn}}
    <a href="/comments">Comments</a>
    <a href="/profile">Profile</a>
    <span>Howdy, {{user.name}}!</span> 
    <form action="/logout" method="POST" style="display:inline; margin: 0;">
      <button type="submit" class="button button-logout">Logout</button> 
    </form>
  {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  {{/if}}
</nav>