{{! backend/views/profile.hbs }}

<div class="card profile-card">
    <h2>Your Sheriff Badge 🤠</h2>

    <div class="user-info">
        <p><strong>Howdy, {{user.name}}!</strong></p>
        <p>Welcome back to the saloon.</p>

        {{#if user.loginTime}}
            <p><small>Last seen 'round these parts: {{user.loginTime}}</small></p>
        {{/if}}
        {{#if user.visitCount}}
            <p><small>Number of visits to town: {{user.visitCount}}</small></p>
        {{/if}}
        {{! Note: loginTime and visitCount need to be set in the session during POST /login to display }}
    </div>

    <div class="actions">
        <a href="/comments" class="button">See What's New</a>
        <a href="/comment/new" class="button">Post Your Thoughts</a>
    </div>

</div>